@page
@model SMARTLY.Pages.Add_AgencyModel
@{
    if (Model.type == 1)
        Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    if (Model.type == 4)
        Layout = "/Pages/Shared/_LayoutManager.cshtml";
}


<section id="hero2" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
           
            <h1>Add new agency</h1>

        </div>
</section>
<section>
    </br>
    </br>
<div class="container">
            <!-- row -->
<div class="row">
            <div class="col-md-2">
                </div>
 <div class="col-md-8">
 <form method="post" class="signin-form">
            <!-- Billing Details -->
          
                   
        <div class="form-group">
            <input asp-for="@Model.Agency.Name" class="form-control" type="text" placeholder="Agency name">
            <span asp-validation-for="@Model.Agency.Name"></span>
        </div>

        <div class="form-group">
            <input asp-for="@Model.user.UserName" class="form-control" type="text"  placeholder="User name">
          <span asp-validation-for="@Model.user.UserName"></span>
        </div>

        <div class="form-group">
            <input asp-for="@Model.Agency.email"  class="form-control" type="text"  placeholder="Email">
          <span asp-validation-for="@Model.Agency.email"></span>
        </div>

        <div class="form-group">
            <input asp-for="@Model.Agency.location" class="form-control" type="text"  placeholder="Location">
              <span asp-validation-for="@Model.Agency.location"></span>
        </div>

        <div class="form-group">
            <input asp-for="@Model.user.password"  class="form-control" type="password"  placeholder="Password">
            <span asp-validation-for="@Model.user.password"></span>
        </div>

       
            <div class="form-group">
                <button type="submit" class="form-control btn primary-btn1">Add new Agency</button>
            </div>

            </form>
        </div>
      </div>
      </div>
 </section>
