@page
@model SMARTLY.Pages.Add_New_BundleModel
@{
    Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

    <section id="hero2" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
           
            <h1>Add new Bundle</h1>

        </div>
</section>
<section>
    </br>
    </br>
<div class="container">
            <!-- row -->
<div class="row">
            <div class="col-md-2">
                </div>
 <div class="col-md-8">
 <form method="post" class="signin-form">
            <!-- Billing Details -->

  
        <div class="form-group">
                        <input asp-for="@Model.bundle.Name" class="form-control" type="text" placeholder="Name">
                        <span asp-validation-for="@Model.bundle.Name"></span>
        </div>

        <div class="form-group">
                        <input asp-for="@Model.bundle.price" class="form-control" type="text" placeholder="Price">
                        <span asp-validation-for="@Model.bundle.price"></span>
        </div>

        <div class="form-group">
                        <input asp-for="@Model.bundle.level" class="form-control" type="text" placeholder="level">
                        <span asp-validation-for="@Model.bundle.level"></span>
        </div>

        <div class="form-group">
                        <input asp-for="@Model.bundle.Description" class="form-control" type="text" placeholder="Description">
                        <span asp-validation-for="@Model.bundle.Description"></span>
        </div>

        <div class="form-group">
                        <input asp-for="@Model.bundle.img" class="form-control" type="text" placeholder="img">
                        <span asp-validation-for="@Model.bundle.img"></span>
        </div>


       
            <div class="form-group">
                <button type="submit" class="form-control btn primary-btn1">Add new Bundle</button>
            </div>

            </form>
        </div>
      </div>
      </div>
 </section>

