@page
@model SMARTLY.Pages.Bundle_Item_AdminModel
@{
    if (Model.type == 1)
        Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
    if (Model.type == 4)
        Layout = "/Pages/Shared/_LayoutManager.cshtml";
}

<style>
    header {
        background-image: url('assets/img/homeView.jpg');
    }
</style>
    <br />
    <br />
    <br />
    <br />



    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Bundle Details</h2>
                <ol>
                    <li><a href="Index">Home</a></li>
                    <li>Bundle Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <br />
    <br />

<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">

                    <img src="@Model.dt.Rows[0][5]" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">First Stage</p>
                    <h2>This is <span class="orange-text">@Model.dt.Rows[0][4]</span></h2>
                    <p>Total Price: @Model.dt.Rows[0][1]</p>
                    <p>Number of Products: @Model.productnum </p>
                    <p>@Model.dt.Rows[0][3]</p>

                    <button class="Admin_Button">Edit</button><br /><br />
                    <a href="Bundle_Out_Admin" class="boxed-btn mt-4">See Other Bundles</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->
<br />
<br />
<br />
<br />

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
<div class="container">

                <div class="section-title">
                  <span>Products</span>
                  <h2>Products of this Bundle</h2>
                  <p>Here You Could Find The Products Of This Bundle</p>
                </div>

                <div class="row" data-aos="fade-up">
                  <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                      <li data-filter="*" class="filter-active">All</li>
                    </ul>
                  </div>
               </div>

        <br />
        <br />
        <br />


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">


                    @for(int i=0; i<Model.products.Rows.Count;i++){
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="@Model.products.Rows[i][1]" class="img-fluid" alt="" width="500" Hight="500">
                            <div class="portfolio-info">
                              <h4>@Model.products.Rows[i][0]</h4>
                              <p>Information about this product</p>
                              <a href="assets/img/R1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Edit"><i class="bx bx-plus"></i></a>
                                  <a href="/Product_internal" class="details-link" title="Delete This"><i class="fa fa-times"></i></a>
                            </div>
                      </div>
                    }

    </div>

</div>
</section>


<form method="post">
<select class="form-select" aria-label="Default select example" width="2">
      <option >Choose Your Product</option>
    @for (int i=0;i<Model.dt22.Rows.Count;i++)
    {
        <option value="@Model.dt22.Rows[i][1]">@Model.dt22.Rows[i][0]</option>
    }
</select>
        <div class="text-center">
      <a type="submit" class="Admin_Button" asp-page="/page" >Add Here</a>
        </div>
</form>

    <br />
    <br />

<!-- End Portfolio Section -->
