@page
@model SMARTLY.Pages.Bundle_Item_AgencyModel
@{
	Layout = "/Pages/Shared/_LayoutAgency.cshtml";
}
}
<style>
    header {
        background-image: url('assets/img/homeView.jpg');
    }
</style>
    <br />
    <br />
    <br />
    <br />



    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Bundle Details</h2>
                <ol>
                    <li><a href="Index">Home</a></li>
                    <li>Bundle Details</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <br />
    <br />

<!-- advertisement section -->
<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">

                    <img src="@Model.dt.Rows[0][5]" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">First Stage</p>
                    <h2>This is <span class="orange-text">@Model.dt.Rows[0][4]</span></h2>
                    <p>Total Price: @Model.dt.Rows[0][1]</p>
                    <p>Number of Products: @Model.productnum </p>
                    <p>@Model.dt.Rows[0][3]</p>

                    
                    <a href="Bundle_Out_Agency" class="boxed-btn mt-4">See Other Bundles</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end advertisement section -->
<br />
<br />
<br />
<br />

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
<div class="container">

                <div class="section-title">
                  <span>Products</span>
                  <h2>Products of this Bundle</h2>
                  <p>Here You Could Find The Products Of This Bundle</p>
                </div>

                <div class="row" data-aos="fade-up">
                  <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                      <li data-filter="*" class="filter-active">All</li>
                    </ul>
                  </div>
               </div>

        <br />
        <br />
        <br />


        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">


                    @for(int i=0; i<Model.products.Rows.Count;i++){
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="@Model.products.Rows[i][1]" class="img-fluid" alt="" width="500" Hight="500">
                            <div class="portfolio-info">
                              <h4>@Model.products.Rows[i][0]</h4>
                              <p>Information about this product</p>
                             
                            </div>
                      </div>
                    }

    </div>

</div>
</section>
