@page
@model SMARTLY.Pages.Bundle_Out_AgencyModel
@{
	Layout = "/Pages/Shared/_LayoutAgency.cshtml";
}

<style>
    header {
        background-image: url('assets/img/homeView.jpg');
    }
</style>


<br />
<br />

<br />
<br />

<br />
<br />



<br />
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">

            <br />
            <br />



            <div class="row">

                @for (int i = 0; i < Model.dt.Rows.Count; i++)
                {
                    <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                        <div class="box">
                            <h3><a asp-page="/Bundle_Item_Agency" asp-route-id="@Model.dt.Rows[i][0]">@Model.dt.Rows[i][4]</a></h3>

                            <img src="@Model.dt.Rows[i][6]" alt="Basic Bundle" width="200" Hight=" 200">

                            <h4><sup>EGP</sup><a asp-page="/Bundle_Item_Agency" asp-route-id="@Model.dt.Rows[i][0]">@Model.dt.Rows[i][1]</a></h4>

                            <ul>
                            </ul>
                            <div class="btn-wrap">
                                <a asp-page="/Bundle_Item_Agency" asp-route-id="@Model.dt.Rows[i][0]">View</a>
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>

</section><!-- End Pricing Section -->
<div class="text-center">
    <br /><br /><br /><br />


    <br /><br /><br /><br />
</div>
<br />
<br />
<br />