@page
@model SMARTLY.Pages.Bundle_ItemClientModel
@{
	Layout = "/Pages/Shared/_LayoutClient.cshtml";
}

<style>
    header {
        background-image: url('assets/img/homeView.jpg');
    }
</style>
    <br />
    <br />
    <br />
    <br />
<main id="main">

	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">

			<div class="d-flex justify-content-between align-items-center">
				<h2>Bundle Details</h2>
				<ol>
					<li><a asp-page="/IndexClient">Home</a></li>
					<li>Bundle Details</li>
				</ol>
			</div>

		</div>
	</section><!-- End Breadcrumbs -->
	<!-- ======= Portfolio Details Section ======= -->
	<section id="portfolio-details" class="portfolio-details">
		<div class="container">

			<div class="row gy-4">

				<div class="col-lg-6">
					<div class="portfolio-details-slider swiper">
						<div class="swiper-wrapper align-items-center">
							<div>
								<!--{
									byte[] bytes = (byte[])Model.dt.Rows[0][5];
									var base64 = Convert.ToBase64String(bytes);
									var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
								}
								<img src="imgsrc" class="img-fluid" alt="" style="width: 500px; height: 500px; object-fit: fill;" />-->
                                <img src="@Model.dt.Rows[0][5]" alt="" style="height: 400px; object-fit: fill;">
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 text-center" >
					<div class="portfolio-info">
						<h3>Bundle Information</h3>
						<h2 class="product-name" style="color:#FFC733">@Model.dt.Rows[0][4]</h2>

						<div>
                            <h3 class="product-price">$ @Model.dt.Rows[0][1] </h3>
						</div>
						<ul>
                            <li><strong>Number of Products</strong>: @Model.productnum</li>
                            <li><strong><a href="Bundle_OutClient" class="boxed-btn mt-4">See Other Bundles</a></strong></li>
							
						</ul>
						<div class="add-to-cart">
							<ul class="product-btns">
								@if(Model.ThisState==0)
								{
								@if(Model.type==3){
										<a asp-page="/CartClient" asp-page-handler="Add" class="add-to-cart-btn" asp-route-id="@Model.dt.Rows[0][0]" asp-route-type="2">Add to cart</a>
								}
								else
								{
										<a asp-page="/CartClient" asp-page-handler="Add" class="add-to-cart-btn" asp-route-id="@Model.dt.Rows[0][0]" asp-route-type="2">Add to cart</a>
								}
								}
								
							</ul>
						</div>
					</div>
					<div class="portfolio-description">
						<p>
                            @Model.dt.Rows[0][3]
						</p>
					</div>
				</div>

			</div>

		</div>
		<div class="col-md-12" style="margin: 0;width: 100%; padding: 0px;">
            <div id="product-tab" style="padding-top:0px; padding-bottom:0px;">
				<!-- product tab nav -->
				<ul class="tab-nav">
					<li><a data-toggle="tab" href="#tab3">Products @Model.products.Rows.Count</a></li>
				</ul>
			</div>
		</div>
	</section>
    <section id="portfolio" class="portfolio">
        <div class="container" style="padding-top:0px; padding-bottom:0px;">
            <div class="section-title" style="padding-top:0px">
                <h2>Products of this Bundle</h2>
            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                    </ul>
                </div>
            </div>

            <br />
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">
                @for (int i = 0; i < Model.products.Rows.Count; i++)
                {
                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
						@{
							byte[] bytes = (byte[])Model.products.Rows[i][1];
							var base64 = Convert.ToBase64String(bytes);
							var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
						}
						<div class="labelbundle">
							<span class="new">x @Model.products.Rows[i][3]</span> <!-- Add the rectangle with the number 1 and the desired CSS class -->
						</div>

						<img src="@imgsrc" class="img-fluid" alt="" />

                        <div class="portfolio-info">
							<h4>@Model.products.Rows[i][0]</h4>
							<a asp-page="/Products_internalClient" class="quick-view" asp-route-id="@Model.products.Rows[i][2]" class="boxed-btn mt-4">Details</a>
							<a src="@imgsrc" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="@Model.products.Rows[i][0]"><i class="bx bx-plus"></i></a>
							<a asp-page="/Products_internalClient" asp-route-id="@Model.products.Rows[i][2]" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>



    <br />
    <br />

    <!-- End Portfolio Section -->

</main><!-- End #main -->

   


