@page
@model SMARTLY.Pages.CheckOutModel
@{
	 if(Model.type==3)
    Layout = "/Pages/Shared/_LayoutClient.cshtml";
    else
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<style>
    header {

        background-image: url('assets/img/homeView.jpg');
        position:fixed;
        
    }
</style>
  
<br />

<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<div class="section">
	
	<div class="container">
		<div id="breadcrumb1" class="section">
			
			<div class="container">
			
				<div class="row">
					<div class="col-md-12">
						<h3 class="breadcrumb-header">Checkout</h3>
						<ul class="breadcrumb-tree">
							<li><a href="/IndexClient">Home</a></li>
							<li class="active">Checkout</li>
						</ul>
					</div>
				</div>
				
			</div>
			
		</div>
		

	
		<div class="section">
			
			<div class="container">
				
				<div class="row">

					<div class="col-md-7">
						
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Order's Information</h3>
							</div>
							
							<div class="form-group">
								<input  class="form-control" type="text"  placeholder="street" asp-for="@Model.Adress.Street" >
							
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Building number" asp-for="@Model.Adress.Buildingno">
								
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Floor number" asp-for="@Model.Adress.Floor">
								
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Flat Number" asp-for="@Model.Adress.Flat">
								
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="City" asp-for="@Model.Adress.City">
								
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="Governorate" asp-for="@Model.Adress.Gov">
								
							</div>
							<div class="form-group">
								<input class="form-control" type="text" placeholder="ZIP Code" asp-for="@Model.Adress.Zipcode">
								
							</div>
							@if(Model.type !=3)
							{
								<div class="form-group">
									<div class="input-checkbox">

										<label for="create-account">
											<a href="/SignUp">
												<span></span>
												Don't Have Account?
											</a>
										</label>
										<div class="caption">
											<input class="input" type="password" name="password" placeholder="Enter Your Password">
										</div>
									</div>
								</div>
							}
							
						</div>
			
					
						<div class="order-notes">
							<textarea class="form-control" placeholder="Order Notes"></textarea>
						</div>
					
					</div>

				
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								@{
									for (int i = 0; i < Model.carttable.Rows.Count; i++)
									{
										var productName = Model.returnName(Convert.ToInt32(Model.carttable.Rows[i][1]));
										var productPrice = Model.returnPrice(Convert.ToInt32(Model.carttable.Rows[i][1])) * Convert.ToInt32(Model.carttable.Rows[i][2]);

										<div class="order-col">
											<div>@Model.carttable.Rows[i][2] X @productName</div>
											<div>EGB @productPrice</div>
										</div>
									}
								}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>@Model.shippingFees</strong></div>
							</div>
							<div class="order-col">
								<div><strong>Sub Total</strong></div>
								<div><strong class="order-total">EGB @(Model.calcTotal())</strong></div>
							</div>
							<div class="order-col">
								<div><strong>Total</strong></div>
								<div><strong class="order-total">EGB @Model.overall</strong></div>
							</div>
						</div>
						
						<br>
						
							@*<input style="display:block; margin: 0 auto;" type="image" onclick="checkout();" src="https://www.atfawry.com/assets/img/FawryPayLogo.jpg"
								   alt="pay-using-fawry" id="fawry-payment-btn" />*@
						<form method="post">
						

								<button asp-page-handler="Adress"  type="submit" class="btn btn-dark btn-block btn-lg" style="display:block; margin: 0 auto;"
									data-mdb-ripple-color="dark">

									Proceed To Payement

								</button>

							
						</form>
						
					</div>
				
				</div>
			
			</div>
		
		</div>
	
    </div>
</div>
<script>
	function checkout() {
		const configuration = {
			locale: "en",  //default en
			mode: DISPLAY_MODE.POPUP,  //required, allowed values [POPUP, INSIDE_PAGE, SIDE_PAGE , SEPARATED]
		};
		FawryPay.checkout(buildChargeRequest(), configuration);
	}
	function buildChargeRequest() {
		const chargeRequest = {
			merchantCode: '1tSa6uxz2nRbgY+b+cZGyA==',
			merchantRefNum: '2312465464',
			customerMobile: '01xxxxxxxxx',
			customerEmail: 'email@domain.com',
			customerName: 'Customer Name',
			customerProfileId: '1212',
			paymentExpiry: '1631138400000',
			chargeItems: [
				{
					itemId: '6b5fdea340e31b3b0339d4d4ae5',
					description: 'Product Description',
					price: 50.00,
					quantity: 2,
					imageUrl: 'https://developer.fawrystaging.com/photos/45566.jpg',
				},
				{
					itemId: '97092dd9e9c07888c7eef36',
					description: 'Product Description',
					price: 75.25,
					quantity: 3,
					imageUrl: 'https://developer.fawrystaging.com/photos/639855.jpg',
				},
			],
			selectedShippingAddress: {
				governorate: 'GIZA', //Governorate code at Fawry
				city: 'MOHANDESSIN', //City code at Fawry
				area: 'GAMETDEWAL', //Area code at Fawry
				address: '9th 90 Street, apartment number 8, 4th floor',
				receiverName: 'Receiver Name'
			},
			returnUrl: 'https://developer.fawrystaging.com',
			authCaptureModePayment: false,
			signature: "2ca4c078ab0d4c50ba90e31b3b0339d4d4ae5b32f97092dd9e9c07888c7eef36"
		};
		return chargeRequest;
	}
	</script>
<br />

<br />
<br />
<br />
<br />
<br />