@page
@model SMARTLY.Pages.Contact_UsGuestModel
@{
	
}


<style>
    header {
        background-image: url('assets/img/homeView.jpg');
       
    }
</style>


<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container" data-aos="fade-up">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="section-title">
            <h2>Know more</h2>
            <p>About US</p>
        </div>

        <div class="row " >

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                    <div class="member-img ">
                        <img src="assets/img/Smartly (4).png" class="img-fluid" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info" >
                        <h4>Follow us</h4>
                        <span>and Keep in touch</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 d-flex align-items-stretch"></div>
          
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                    <h1>Who We are?</h1> <br />
                  <h3>
                   we are a startup company based in London, Launching now in Egypt, in the field of Smart home technologies, we are providing you a system that connects with your appliances to automate specific tasks and  typically remotely controlled.
                   </h3>

                </div>
            </div><!-- End Icon Box -->

             </div>

        </div>

    </div>
</section>
<!-- End Team Section -->


<!-- End Testimonials Section -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="display:block; margin: 0 auto;">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

     

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>Egypt</p>
                    </div>
                  
                    
                    
                  
                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p <a href="mailto:info@smartlyegy.com"> info@smartlyegy.com </a></p>
                    </div>


                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+20 0158 9554 885</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
                  @if (Model.msg != "free")
                {
                    <h3 style="color:red>"> @Model.msg</h3>
                    
                }
                <form method="post" >
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input asp-for="@Model.contactcs._Name" type="text"  class="form-control" id="name" placeholder="Your Name" />
          
                            <span asp-validation-for="@Model.contactcs._Name"></span>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input asp-for="@Model.contactcs.Email" type="text" class="form-control"  id="email" placeholder="Your Email" />
                            <span asp-validation-for="@Model.contactcs.Email"></span>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input asp-for="@Model.contactcs._Subject" type="text" class="form-control" id="subject" placeholder="Subject" />
                        <span asp-validation-for="@Model.contactcs._Subject"></span>
                    </div>
                    <div class="form-group mt-3">
                       @* <input asp-for="@Model.contactcs._Message" type="text" class="form-control"  placeholder="Your message " />*@
                        <textarea asp-for="@Model.contactcs._Message" class="form-control"  rows="5" placeholder="Message" required></textarea>
                        <span asp-validation-for="@Model.contactcs._Message"></span>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="form-control btn primary-btn1">Send Message </button>
                    </div>
                </form>

            </div>

        </div>

    </div>
</section>
<br />
<br />

<!-- End Contact Section -->
