@page
@model SMARTLY.Pages.Edit_BundleModel
@{
	Layout = "/Pages/Shared/_LayoutAdmin.cshtml";
}

<section id="hero2" class="d-flex align-items-center">
	<div class="container position-relative" data-aos="fade-up" data-aos-delay="500">

		<h1>Edit this Bundle</h1>

	</div>
</section>

<div class="container">
<div class="row">
	<br />
	<br />
	<br />

	<div class="col-md-8">
		<div class="section-title">
			<br />
			<br />

			<h3 class="title" >Bundle's Information</h3>
		</div>
		<form method="post" class="signin-form">

			<div class="form-group">
				<input class="form-control" type="hidden" class="form-control" placeholder="Bundle ID" asp-for="@Model.Bundle.BundleId">

			</div>
			<div class="form-group">
				<input class="form-control" type="text" class="form-control" placeholder="Bundle Name" asp-for="@Model.Bundle.Name">

			</div>
		
		

	


			<div class="order-notes">
				<textarea class="form-control" class="form-control" placeholder="Bundle Notes" asp-for="@Model.Bundle.Description"></textarea>
			</div>

			<br />


				<h3><span style="color: #FFC133">Add</span> new products for this Bundle:</h3>
				<div class="container" data-aos="fade-up">
					<div class="row">                     
						@for (int i = 0; i < Model.dt22.Rows.Count; i++)
						{
							<div class="col-md-4 col-xs-6">
								<div style="width: 150px; height: 150px; object-fit: fill;">
									@{byte[] bytes = (byte[])Model.dt22.Rows[i][2];
									var base64 = Convert.ToBase64String(bytes);
									var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
									<img href="#" src="@imgsrc" alt="avatar" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
									}<br>
									<center>
										<input type="checkbox" id="@Model.dt22.Rows[i][1]" name="SelectedCheckboxes" value="@Model.dt22.Rows[i][1]" />
										<label for="@Model.dt22.Rows[i][1]">@Model.dt22.Rows[i][0]</label>
									</center>
									<br />
								</div> <br /><br /><br /><br /><br />
							</div>
						}
					</div>
				</div>
				<br /><br />


				<h3><span style="color: #FFC133">Delete</span> products from this Bundle:</h3>
				<div class="container" data-aos="fade-up">
					<div class="row">
						@for (int i = 0; i < Model.dt33.Rows.Count; i++)
						{
							@for (int j = 0; j < Convert.ToInt32(Model.dt33.Rows[i][3]); j++)
							{
								<div class="col-md-4 col-xs-6">
									<div style="width: 150px; height: 150px; object-fit: fill;">
										@{
											byte[] bytes = (byte[])Model.dt33.Rows[i][2];
											var base64 = Convert.ToBase64String(bytes);
											var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
											<img href="#" src="@imgsrc" alt="avatar" class="rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" />
										}<br>
										<center>
											<input type="checkbox" id="@Model.dt33.Rows[i][1]" name="SelectedCheckboxes22" value="@Model.dt33.Rows[i][1]" />
											<label for="@Model.dt33.Rows[i][1]">@Model.dt33.Rows[i][0]</label>
										</center>
										<br />
									</div>
									<br /><br />
								</div>
							}
						}
					</div>
				</div>
				<br /><br />
			<button asp-page-handler="Edit" type="submit" class="form-control btn primary-btn1">

				Edit

			</button>



	</form>
	<br />
	<br />
	<br />
	</div>
</div>
</div>