@page
@model SMARTLY.Pages.Products_internalClientModel
@{
	if (Model.type == 3)
	   Layout = "/Pages/Shared/_LayoutClient.cshtml";
	else
	   Layout = "/Pages/Shared/_Layout.cshtml";
}

<style>
	header {
		background-image: url('assets/img/homeView.jpg');
	}
</style>
<br>
<br>
<br>
<br>
<main id="main">

	<!-- ======= Breadcrumbs ======= -->
	<section id="breadcrumbs" class="breadcrumbs">
		<div class="container">

			<div class="d-flex justify-content-between align-items-center">
				<h2>Product Details</h2>
				<ol>
					<li><a asp-page="/IndexClient">Home</a></li>
					<li>Product Details</li>
				</ol>
			</div>

		</div>
	</section>
	<section id="portfolio-details" class="portfolio-details">
		<div class="container">

			<div class="row gy-4">

				<div class="col-lg-8">
					<div class="portfolio-details-slider swiper">
						@if (Model.ImgsTable.Rows.Count == 1)
						{
							<div class=" align-items-center">
								@for (int i = 0; i < Model.ImgsTable.Rows.Count; i++)
								{
									<div class="swiper-slide">
										@{
											byte[] bytes = (byte[])Model.ImgsTable.Rows[i][1];
											var base64 = Convert.ToBase64String(bytes);
											var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
										}
										<img src="@imgsrc" alt="" style="width: 60%; height: 500px; object-fit: fill;" />
									</div>
								}

							</div>
						}
						else
						{
							<div class="swiper-wrapper align-items-center">
								@for (int i = 0; i < Model.ImgsTable.Rows.Count; i++)
								{
									<div class="swiper-slide">
										@{
											byte[] bytes = (byte[])Model.ImgsTable.Rows[i][1];
											var base64 = Convert.ToBase64String(bytes);
											var imgsrc = string.Format("data:image/gif;base64,{0}", base64);
										}
										<img src="@imgsrc" alt="" style="width: 60%; height: 500px; object-fit: fill;" />
									</div>
								}

							</div>
							<div class="swiper-pagination"></div>
						}
					</div>
				</div>

				<div class="col-lg-4">
					<div class="portfolio-info">
						<h3>Product Information</h3>
						<h2 class="product-name" style="color:#FFC733">@Model.dt.Rows[0][1]</h2>
						<div>
							<div class="product-rating">
								@for (int i = 0; i < Model.rating; i++)
								{
									<i class="fa fa-star"></i>
								}
								@for (int i = 0; i < (5 - Model.rating); i++)
								{
									<i class="fa fa-star-o"></i>
								}
								<a class="review-link" href="#">@Model.CountFeedBack Review(s)</a>
							</div>
						</div>
						<div>
							<h3 class="product-price">EGP @Model.dt.Rows[0][9]
								@if (Convert.ToInt32(Model.dt.Rows[0][5]) != 0)
								{
									<del class="product-old-price" style="color:#FFC733">EGP @Model.dt.Rows[0][2]</del>
								}
							</h3>
						</div>
						<ul>
							<li><strong>Category</strong>: @Model.Categorietype</li>
							<li><strong>Colour</strong>: @Model.dt.Rows[0][4]</li>
							<li><strong>Quantity</strong>: @Model.dt.Rows[0][3]</li>
							@if (Convert.ToInt32(Model.dt.Rows[0][5]) != 0)
							{
								<li><strong>Price before Sale</strong>: @Model.dt.Rows[0][2]</li>
								<li><strong>Price After Sale</strong>: @Model.dt.Rows[0][9]</li>
							}
							else
							{
								<li><strong>Price</strong>: @Model.dt.Rows[0][9]</li>
							}

						</ul>
						@if (Model.ThisState == 0)
						{
							<div class="add-to-cart">
								<ul class="product-btns">
									@if (Model.type == 3)
									{
										<a asp-page="/CartClient" asp-page-handler="Add" class="add-to-cart-btn" asp-route-id="@Model.dt.Rows[0][0]" asp-route-type="1">Add to cart</a>
									}
									else
									{
										<a asp-page="/Cart" asp-page-handler="Add" class="add-to-cart-btn" asp-route-id="@Model.dt.Rows[0][0]" asp-route-type="1">Add to cart</a>
									}
								</ul>
							</div>
						}
					</div>
					<div class="portfolio-description">
						<p>
							@Model.dt.Rows[0][7]
						</p>
					</div>
					<br />
					<div>
						<h5>Rate this product !</h5>

						<form class="review-form" method="post">
							<div class="input-rating">
								<div class="stars">
									<input type="hidden" name="id" value="@Model.id" />
									<input id="star5" name="userrating" value="5" type="radio"><label for="star5"></label>
									<input id="star4" name="userrating" value="4" type="radio"><label for="star4"></label>
									<input id="star3" name="userrating" value="3" type="radio"><label for="star3"></label>
									<input id="star2" name="userrating" value="2" type="radio"><label for="star2"></label>
									<input id="star1" name="userrating" value="1" type="radio"><label for="star1"></label>
								</div>
							</div>
							<button type="submit" asp-page-handler="FeedBack" class="primary-btn1">Submit</button>
						</form>

					</div>

				</div>

			</div>

		</div>


		<div class="col-md-12" style="margin: 0;width: 100%; padding: 50px;">
			<div id="product-tab">
				<!-- product tab nav -->
				<ul class="tab-nav">
					<li><a data-toggle="tab" href="#tab3">Reviews @Model.RateTable.Rows.Count</a></li>
				</ul>

				<div class="row" data-aos="fade-up">
					<!-- Rating -->
					<div class="col-md-3">
						<div id="rating">
							<div class="rating-avg">
								<span>@Model.rating</span>
								<div class="rating-stars">
									@for (int i = 0; i < Model.rating; i++)
									{
										<i class="fa fa-star"></i>
									}
									@for (int i = 0; i < 5 - Model.rating; i++)
									{
										<i class="fa fa-star-o"></i>
									}
								</div>
							</div>
							<ul class="rating">
								@for (int i = 0; i < Model.RateTable.Rows.Count; i++)
								{
									<li>
										<div class="rating-stars">
											@for (int j = 0; j < (int)Model.RateTable.Rows[i][2]; j++)
											{
												<i class="fa fa-star"></i>
											}
											@for (int j = 0; j < 5 - (int)Model.RateTable.Rows[i][2]; j++)
											{
												<i class="fa fa-star-o"></i>
											}
										</div>
										
									</li>
								}

							</ul>
						</div>

					</div>
					<!-- /Rating -->
					<!-- Reviews -->
					<div class="col-md-4">
						<div id="reviews">
							<ul class="reviews">
								@for (int i = 0; i < Model.RateTable.Rows.Count; i++)
								{
									<li>
										<div class="review-heading">
											<h5 class="name">@Model.RateTable.Rows[i][0]</h5>
											<div class="review-rating">
												@for (int j = 0; j < (int)Model.RateTable.Rows[i][2]; j++)
												{
													<i class="fa fa-star"></i>
												}
												@for (int j = 0; j < 5 - (int)Model.RateTable.Rows[i][2]; j++)
												{
													<i class="fa fa-star-o empty"></i>
												}
											</div>

										</div>
										
									</li>
								}
							</ul>
							<br />
							<br />

						</div>
					</div>
					<!-- /Reviews -->
					<!-- Review Form -->
					<!-- /Review Form -->
				</div>

			</div>
		</div>
	
	</section>

</main>

<br />
