@page
@model SMARTLY.Pages.SignUpModel
@{
}
<header id="header" class="fixed-top">
	<div class="container d-flex align-items-center justify-content-lg-between">


		<a href="/Index" class="logo"><img src="assets/img/Smartly (4).png" height="120" width="120" alt="" class="img-fluid"></a>


		<nav id="navbar" class="navbar order-last order-lg-0">


			<ul>
				<li><a class="nav-link scrollto active" href="/Index">Home</a></li>
				<li><a class="nav-link scrollto" asp-page="/Products_Main">Product</a></li>
				<li class="dropdown">
					<a asp-page="/Bundle_Out"><span>Bundles</span> <i class="bi bi-chevron-down"></i></a>
					<ul>
						<li><a href="/Bundle_Item">Basic</a></li>
						<li><a href="/Bundle_Out_Admin">Intermediate</a></li>
						<li><a href="/Products_Main_Admin">Premium</a></li>
					</ul>
				</li>
				<li><a class="nav-link scrollto" href="/Contact_Us">Contact</a></li>

				<li>
					<a class="shopping-cart" asp-page="/Cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li> <a class="mobile-hide search-bar-icon" href="#"><i class="fa fa-search"></i></a></li>

			</ul>

			<i class="bi bi-list mobile-nav-toggle"></i>

		</nav><!-- .navbar -->
		<a href="/LogIn" class="get-started-btn scrollto">Sign in</a>
	</div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->

<main id="main">
<section id="hero" class="d-flex align-items-center ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
			  <h2>SMARTLY</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">

					<form method="post" class="signin-form">

						<div class="form-group">
							<input asp-for="@Model.user.UserName" type="text" class="form-control" placeholder="Username" required>
							<span asp-validation-for="@Model.user.UserName"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.client.email" type="email" class="form-control" placeholder="EmaiL" required>
								<span asp-validation-for="@Model.client.email"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.client.phonenumber" type="text" class="form-control" placeholder="Phone number" required>
								<span asp-validation-for="@Model.client.phonenumber"></span>
						</div>

						<div class="form-group">
							<input  asp-for="@Model.user.password" id="password-field" type="password" class="form-control" placeholder="Password" required>
								<span asp-validation-for="@Model.user.password"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.passwordcheck"  id="passwordcheck-field" type="password" class="form-control" placeholder="Re-Enter Password" required>
								<span asp-validation-for="@Model.passwordcheck"></span>
						</div>
						  @if (Model.msg != "free")
                        {
                            <p style="color: red"> @Model.msg</p>
                        }

						<div class="form-group">
							<button type="submit" class="form-control btn primary-btn1">Sign Up</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								
							</div>
							

						</div>
						<div>
						<p class="w-100 text-center">&mdash; Or Sign Up With &mdash;</p>
	
							<a href="#" class="get-started-btn">Facebook</a>
							<a href="#" class="get-started-btn"> Twitter</a>
							
						</div>
							
						
						<div>
							<br/>
							<label class="checkbox-wrap checkbox-primary">
								<p style="color: #fff"> Already Have  an account? </p><a href="/LogIn"> Sign In</a>
							</label>
						</div>
						
						<br/>
						<div>
							<label class="checkbox-wrap checkbox-primary" style="color: #fff">
								I agree to all  <a href="#!"> Terms of service</a>
								<input type="checkbox" required>
								<span class="checkmark"></span>
							</label>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</section>