@page
@model SMARTLY.Pages.SignUpModel
@{
	
}

<section id="hero" class="d-flex align-items-center ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
			  <h2>SMARTLY</h2>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-md-6 col-lg-4">
				<div class="login-wrap p-0">

					<form method="post" class="signin-form">
						<div class="form-group">
							<input asp-for="@Model.client.FirstName" type="text" class="form-control" placeholder="First Name" required>
							<span asp-validation-for="@Model.client.FirstName"></span>
						</div>
						<div class="form-group">
							<input asp-for="@Model.client.LastName" type="text" class="form-control" placeholder="Last Name" required>
							<span asp-validation-for="@Model.client.LastName"></span>
						</div>
						<div class="form-group">
							<input asp-for="@Model.user.UserName" type="text" class="form-control" placeholder="Username" required>
							<span asp-validation-for="@Model.user.UserName"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.client.email" type="email" class="form-control" placeholder="EmaiL" required>
								<span asp-validation-for="@Model.client.email"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.client.phonenumber" type="text" class="form-control" placeholder="Phone number" required>
								<span asp-validation-for="@Model.client.phonenumber"></span>
						</div>

						<div class="form-group">
							<input  asp-for="@Model.user.password" id="password-field" type="password" class="form-control" placeholder="Password" required>
								<span asp-validation-for="@Model.user.password"></span>
						</div>

						<div class="form-group">
							<input asp-for="@Model.passwordcheck"  id="passwordcheck-field" type="password" class="form-control" placeholder="Re-Enter Password" required>
								<span asp-validation-for="@Model.passwordcheck"></span>
						</div>
						  @if (Model.msg != "free")
                        {
                            <p style="color: red"> @Model.msg</p>
                        }

						<div class="form-group">
							<button type="submit" class="form-control btn primary-btn1">Sign Up</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								
							</div>
							

						</div>
						<div>
						<p class="w-100 text-center">&mdash; Or Sign Up With &mdash;</p>
	
							<a href="#" class="get-started-btn">Facebook</a>
							<a href="#" class="get-started-btn"> Twitter</a>
							
						</div>
							
						
						<div>
							<br/>
							<label class="checkbox-wrap checkbox-primary">
								<p style="color: #fff"> Already Have  an account? </p><a href="/LogIn"> Sign In</a>
							</label>
						</div>
						
						<br/>
						<div>
							<label class="checkbox-wrap checkbox-primary" style="color: #fff">
								I agree to all  <a href="#!"> Terms of service</a>
								<input type="checkbox" required>
								<span class="checkmark"></span>
							</label>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</section>